@media print
{
	.noPrint{display:none;}
	.NoVisibility{visibility:visible; }
	.PrintTabFix{ width:100%;  table-layout:fixed;}

	
}
@media screen
{
	.SrcSdiv{height: 100%; overflow: auto; table-layout: fixed; width: 100%;}
	.PrintTabFix{ width:100%; height:100%; table-layout:fixed;}
	.PrintW100Fix{width:100%;table-layout:fixed;}
}
/*打印分页*/
.PrintNextPage{display:block;page-break-after: always;}
